* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imagem{
    width: 300px;
}

#email {
    font-weight: bold;
}

#fone {
    font-weight: bold;
}
h3 ~ ul {
    font-weight: bold;
}
ul ~ href {
    font-weight: bold;
}
p > li {
    font-weight: bold;
    color: blue;
}
ul a {
    display: inline-block;
    color: blue;
    font-weight: bold;
}
